prune src*
prune .github*
exclude .gitignore
exclude .releaserc.json
recursive-include ladybug_grasshopper_dotnet *.gha
recursive-include ladybug_grasshopper_dotnet *.exe
recursive-exclude * __pycache__
